<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register Here</title>
    <link rel="stylesheet" href="/stylesheets/registration.css">
  </head>
  <body>
    <div class="main">
      <!-- Popup login form -->
      <div class="content">
        <div class="text">register Here</div>

        <form action="/" method="post">
          <label for="username">Username</label>
          <input name="username" type="text" placeholder="Email or Phone" id="username" />

          <label for="email">email</label>
          <input name="email" type="email" placeholder="email" id="email" />

          <label for="password">Password</label>
          <input name="password" type="password" placeholder="Password" id="password" />

          <!-- Create a login button in the popup login form -->
          <button type="submit" class="button">register</button>
        </form>
      </div>
    </div>
  </body>
</html>
